.ofac-verification-form-container {
	display: flex;
	padding: 2rem;
}

.matches-container {
	padding-left: 2rem;

	.matches-title {
		padding-top: 0.5rem;
	}
}

.button-container {
	padding-top: 1rem;
}

.field-value-container {
	display: flex;
}

dl {
	display: grid;
	grid-template-columns: max-content auto;
}

dt {
	grid-column-start: 1;
}

dd {
	padding-left: 0.5rem;
	grid-column-start: 2;
}

.dx-icon-check {
	color: green;
}

.dx-icon-remove {
	color: red;
}
